<div class="container-m text-center">
  <div class="text-center mb-5"><h1>Meet The Team</h1></div>
    <h2>The Presidents</h2>
    <div class="grid-team two">
      <% @team_members.where(department: "President").first(2).each do |team_member| %>
        <%= render "team_member", team_member: team_member %>
      <% end %>
    </div>
    <h2>The Board</h2>
    <div class="grid-team">
      <% @team_members.where(department: "Board").first(3).each do |team_member| %>
        <%= render "team_member", team_member: team_member %>
      <% end %>
    </div>
    <h2>The Advisory Board</h2>
    <div class="grid-team">
      <% @team_members.where(department: "Advisory Board").first(3).each do |team_member| %>
        <%= render "team_member", team_member: team_member %>
      <% end %>
    </div>
    <h2>The Crew</h2>
    <div class="grid-team">
      <% @team_members.where(department: "Crew").each do |team_member| %>
        <%= render "team_member", team_member: team_member %>
      <% end %>
    </div>
  <h2>Get in touch</h2>
  <p>Octagon is a student-led organisation that aims to empower young people to make a difference in their communities. We are always looking for new team_members to join our team, so if you are interested in getting involved, please get in touch!</p>
  <p>Send us your CV to <a href="mailto:info@octagon-global.com" class="link">info@octagon-global.com</a></p>
</div>
